@import url('https://fonts.googleapis.com/css?family=Roboto+Mono&display=swap');
@import url('https://fonts.googleapis.com/css?family=Judson&display=swap');

html, body {
    margin: 0;
    height: 100%;
}
body {
    background-color: #2a192b;
}

a {  
    font-size: 12px;
    align-self: flex-start;
    text-decoration: none;
    color: #F5B85C;
}

.logo {
    font-family: 'Judson', serif;
    font-size: 64px;
    text-align: center;
    color: #F5B85C;
    margin: 0;
}

.flex {
    display: flex;
}

.container-center {
    font-family: 'Roboto Mono', monospace;
    position: absolute;
    top: 57%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    border-radius: 3px;
    border-left: 4px solid #F5B85C;
    background: #221423;
    color: #F5B85C;
    box-shadow: 0 0px 6px rgba(116, 116, 116, 0.274);
}

.formulario {
    font-size: 14px;
    flex-direction: column;
    align-items: center;
    padding: 10px;
}
.formulario label {
    margin: 5px 62px;
    align-self: flex-start;
}
.formulario .checkbox{
    font-size: 10px;
    margin: 3px;
    cursor: pointer;
}
.formulario input[type='submit'] {
    margin: 20px 0px;
    font-size: 16px;
    height: 30px;
    width: 120px;
    border-radius: 2px;
    background-color: #8c610b;
    background-image: linear-gradient(to right bottom, #f5b85c, #8c610b);
    border: 1px solid #543502;
    cursor: pointer;
}

.campo {
    width: 250px;
    height: 26px;
    border: 1px solid #d1d5da;
    border-radius: 3px;
    padding-left: 5px;
    margin-bottom: 15px;
}

.rodape {
    font-family: 'Roboto Mono', monospace;
    width: 100%;
    bottom: 15px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    color: #F5B85C;
}

.opcoes {
    justify-content: space-around;
    font-size: 12px;
}

@media only screen and (max-width: 1000px) { 
    .container-center {
        width: 90%;
        top: 56%;
    }

}
